.flavor-selection {
  position: absolute;
  top: 213px;
  left: 500px;
}

.spectrum-selection {
  position: absolute;
  top: 649px;
  left: 496px;
}

.potency-selection {
  position: absolute;
  top: 614px;
  left: 497px;
}

.per-bottle-selection {
  position: absolute;
  top: 267px;
  left: 507px;
}


