.label-display {
  position: relative;
  top: 20px;
  width: auto;
  display: inline-block;
}

.default-tincture-label {
  height: 400px;
}

.company-name-selection {
  font-family: 'Oswald', sans-serif;
  transform: rotate(-90deg);
  font-size: 5em;
}

.flavor-selection {
  // font-family: 'Oswald', sans-serif;
  // color: purple;
  // position: absolute;
  // left: 356px;
  // top: 13px;
  font-family: 'Oswald', sans-serif;
  color: purple;
  position: absolute;
  left: 355px;
  top: 6px;
  font-size: 1.6em;
  border: none;
  text-transform: uppercase;
  padding: 0px;
}

// .flavor-selection {
//   position: absolute;
//   top: 213px;
//   left: 500px;
// }

// .spectrum-selection {
//   position: absolute;
//   top: 649px;
//   left: 496px;
// }

// .potency-selection {
//   position: absolute;
//   top: 614px;
//   left: 497px;
// }

// .per-bottle-selection {
//   position: absolute;
//   top: 267px;
//   left: 507px;
// }

// .logo-selection {
//   position: absolute;
//   top: 356px;
//   left: 509px;
// }

.logo {
  height: 250px;
}

.tincture-mock-label {
  margin-top: 10px;
  height: 400px;
}


