.tincture-choices {
  display:flex;
  flex-direction: column;
  margin: 10px;
  height: 400px;
  align-items: center;
}

.potency-choices {
  // font-size: .8em;

  p {
    margin: 0px;
  }

  // .potency-big-number {
  //   font-size: 1.5em;
  // }

  button > * {
    pointer-events: none;
  }
  
  button {
    border: 1px solid #FFFFFF;
    margin: 0px 25px;
    height: auto;
  }

  button:hover {
    border: 1px solid gray;
  }

}

.tincture-flavors {

  button {
    margin: auto 5px;
  }
}

.tincture-carrier-oil {

  button {
    margin: auto 5px;
  }
}

.tincture-spectrum {

  button {
    margin: auto 5px;
  }
}

.potency-big-number {
  font-size: 3em;
}

.potency-per-bottle {
  font-size: .8em;
  margin:0px;
}

button {
  font-size: 1.3em;
  margin-top: 5px;
  border: 1px solid #BFBFBF;
  height: 34px;
  cursor: pointer;
}

