.selection-display {
  width: 100vw;
  // align-content: space-between;
  
  button {
    // border: 0px;
    // background: lightpink;
    width: auto;
    margin: 0px 3px;
  }
}

.selection-display-test {

  button {
    border: 0px;
    background: lightpink;
  }
}

.selection-display-future {
  background: lightpink;
}

.selection-display-current {
  background: yellow;
}

.selection-display-completed {
  background: green;
}

