.progressive-form {
  text-align: center;
}

.reset-button {
  position: absolute;
  bottom: 0px;
}

.intro-graph {
  width: 70vw;
  text-align: left;
  margin: 40px auto;
}

.step-explanation {
  color: $viobin;
  font-size: 2em;
  font-weight: 300;
}

.step-number {
  font-weight: 700;
}

.product-choice-image {
  height: 320px;
}

// .build-my-brand-button {
//   height: 100%;
//   width: 100%;
// }

.product-button {
  color: #37A9BA;
  font-size: 30px;
  background: #FFFFFF;
  border: 0px;
  display: inline-grid;
  cursor: pointer;
  margin: 10px 10px;
}

.product-button.tinctures {
  height: 500px;
}

// .selection-area {
//   width: 2000px;
// }

.created-label {
  margin: 50px;
}