.progressive-form {
  text-align: center;
}

.reset-button {
  position: absolute;
  bottom: 50px;
}

.selection-area {
  height: 150px;
}

.product-choice-image {
  height: 200px;
}

// .build-my-brand-button {
//   height: 100%;
//   width: 100%;
// }



.product-button {
  color: #37A9BA;
  font-size: 30px;
  background: #FFFFFF;
  border: 0px;
  display: inline-grid;
  cursor: pointer;
  margin: 10px 10px;
}

.product-button.tinctures {
  height: 500px;
}

.selection-area {
  height: 250px;
}

.created-label {
  margin: 50px;
}